body{
    opacity: 0;
    transition: 2s;
}
.header{
    display: flex;
    justify-content: center;
}
.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
}
.header-photo img{
    width: 50%;
}
.header-photo{
    width: 100%;
    text-align: center;
}
.header-name{
    width: 100%;
    text-align: left;
}
.nik{
    font-size: 25px;
    /* color: goldenrod; */
    color: rgba(0, 0, 0, 0.849);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
.qa{
    font-size: 25px;
    color: grey;
    font-family: monospace;
}
.header-icon{
    width: 100%;
    text-align: center;
}
.header-icon img{
    width: 4%;
    border: solid 1px black;
}
.header-icon a{
    font-size: 1.4rem;
    color: #0f0e0d;
    margin: 4px;
    text-decoration: none;
    font-family: monospace;
}
.header-icon a:hover{
    opacity: 0.4;
    
    /* color: darkblue; */
}

.language-ru a img{
    border: solid 1px black;
    /* width: 35px;
    height: 20px; */
}

.language-en a img{
    border: solid 1px black;
    margin-left: 10px;
    /* width: 35px; 
    height: 20px; */
}


/* skill */

.skill{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.skill-block{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
}
.skill-text{
    width: 20%;
}
.skill-text .skill-p{
    color: black;
    font-family: monospace;
    font-size: 20px;
}
.skill-skill{
    width: 80%;
    margin-top: 9px;
}
.skill-skill p{
    color: grey;
    font-family: monospace;
    font-size: 15px;
}
.skill-skill ul li{
    color: grey;
    font-family: monospace;
    font-size: 15px;
}
.skill-skill ul li a{
    color: grey;
    font-family: monospace;
    font-size: 15px;
    text-decoration: none;
}
.skill-skill ul li a:hover{
    opacity: 0.7;
}
.skill-skill p a{
    color: grey;
    font-family: monospace;
    font-size: 15px;
    text-decoration: none;
}
.skill-skill p a:hover{
    opacity: 0.7;
}


@media (max-width: 850px){
    .header{
        display: none;
    }
    .skill{
        display: none;
    }
}

/* mobile version */

@media (max-width: 4000px){
    .mobile_version{
        display: none;
}
}
@media (max-width: 850px){
    .mobile_version{
        display: block;
}
}
.mobile_header{
    display: flex;
    justify-content: center;
}
.mobele_header_position{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 850px;
}
.mobile_header_name{
    font-size: 25px;
    color: black;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.mobile_header_name p:nth-child(2){
    font-size: 25px;
    color: grey;
    font-family: monospace;
}
.mobile_header_photo img{
width: 50%;
text-align: center;
float: right;
}
@media (max-width: 560px){
    .mobile_header_name{
        font-size: 18px;
}
.mobile_header_name p:nth-child(2){
    font-size: 18px;
}
}
@media (max-width: 460px){
    .mobile_header_photo img{
        width: 40%;
}
}
@media (max-width: 369px){
    .mobile_header_name{
        font-size: 15px;
}
.mobile_header_name p:nth-child(2){
    font-size: 15px;
}
}
.mobile_header-icon img{
    width: 3%;
    border: solid 1px black;
}
.mobile_header-icon a{
    font-size: 1.3rem;
    color: #0f0e0d;
    margin: 4px;
    text-decoration: none;
    font-family: monospace;
}
@media (max-width: 460px){
    .mobile_header-icon a{
        font-size: 1.1rem;
}
}
.mobile_skills{
    color: black;
    font-family: monospace;
    font-size: 20px;
    margin-top: 10px;
}
.mobile_skills_text ul li{
    color: grey;
    font-family: monospace;
    font-size: 15px;
}
.mobile_work_experience{
    color: black;
    font-family: monospace;
    font-size: 20px;
}
.mobile_work_experience_skill p{
    color: grey;
    font-family: monospace;
    font-size: 15px;
}
.mobile_work_experience_skill ul li{
    color: grey;
    font-family: monospace;
    font-size: 15px;
}
.mobile_education{
    color: black;
    font-family: monospace;
    font-size: 20px;
}
.mobile_skill_skill p{
    color: grey;
    font-family: monospace;
    font-size: 15px;
}
.mobile_aboutme{
    color: black;
    font-family: monospace;
    font-size: 20px;
}
.mobile_aboutme_skill p{
    color: grey;
    font-family: monospace;
    font-size: 15px;
}
.mobile_aboutme_skill p a{
    color: grey;
    font-family: monospace;
    font-size: 15px;
    text-decoration: none;
}
/* footer */

footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.footer-name{
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    width: 100%;
    border-top:  1px inset ;
    border-top-color: gray;
}
.footer-name p{
    color: grey;
    font-family: monospace;
    font-size: 15px;
}
